{
  "compact": true,
  "presets": [
    "@babel/env",
    ["@babel/typescript", { "jsxPragma": "h" } ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }],
    ["module-resolver", {
        "root": ["."],
        "alias": {
          "react": "preact/compat",
          "react-dom": "preact/compat"
      }
    }],
    "lodash"
  ]
}