# dependencies
**/node_modules

# misc
**/.DS_Store
cypress/videos

# generated
api/build
client/dist
server/build
shared/schema.gql
config/Config.d.ts
stats.html

# data
!data
data/*
database.sqlite
test.sqlite

# user config
config/env/*