# dependencies
**/node_modules

# misc
**/.DS_Store

# generated
api/build
client/dist
server/build
shared/schema.gql
config/Config.d.ts
stats.html

# data
data/*
database.sqlite

# user config
config/env/*