# dependencies
**/node_modules

# misc
**/.DS_Store
cypress/videos

# generated
api/build
client/dist
server/build
shared/schema.gql
stats.html

# data
data/*.sqlite
database.sqlite
test.sqlite

# user config
config/env/test.json
config/custom_welcome.html